body {
	background: #6e6e6e;
	color: #6e6e6e;
	margin: 0;
	padding: 0;
	font-family: Calibri, Arial, Tahoma, Verdana, Trebuchet MS, 'Sans-Serif';
	font-size: 12px;
}

a, a:link, a:active, a:visited {
	color: #6e6e6e;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}

img {
	border: 0;
}

#header {
	background: #bce27f;
	color: #FFF;
	font-size: 19px;
	font-style: italic;
	border-bottom: 4px solid #484848;
	padding: 5px;
	padding-left: 20px;
}

#nav {
	background: #6e6e6e;
	padding: 1px;
	padding-left: 15px;
	margin-top: 4px;
}

#nav a {
	padding: 5px;
	text-decoration: none;
	color: #FFF;
}
#nav a:hover {
	background: #666666;
}
#nav a.active {
	background: #666666;
}

#subnav {
	background: #666666;
	margin: 0;
	padding: 3px;
	padding-left: 15px;
	color: #FFF;
}
#subnav a {
	color: #FFF;
	padding: 5px;
	text-decoration: none;
}

#container {
	padding: 15px;
}

h1.section {
	color: #eafec3;
	font-size: 20px;
	font-style: italic;
	font-weight: normal;
	margin: 0;
	margin-bottom: 10px;
}

.sectionBox {
	background: #FFF;
	border: 1px solid #909d6f;
	padding: 10px;
	margin-bottom: 10px;
}

h2.alert {
	background: transparent url(images/bell.png) no-repeat;
	padding-left: 20px;
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
	margin: 0;
	margin-bottom: 5px;
	color: #6e6e6e;
}
h2.subsect {
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
	margin: 0;
	margin-bottom: 5px;
	color: #6e6e6e;
}

.green {
	background: #f0f7e2;
	padding: 1px;
	padding-left: 15px;
	font-style: italic;
}
.white {
	background: #FFF;
	padding: 1px;
	padding-left: 15px;
	font-style: italic;
}

#footer {
	background: #666;
	color: #FFF;
	text-align: right;
	padding: 8px;
	margin-top: 20px;
}
#footer a {
	color: #FFF;
	text-decoration: none;
}

.smtext {
	color: #444;
	border: 1px solid #909d6f;
	padding: 2px;
	font-family: Calibri, Arial, Verdana;
	font-size: 13px;
}

.submit {
	background: #f0f7e2;
	padding: 2px;
	font-size: 14px;
	border: 1px solid #909d6f;
	font-family: Calibri, Arial, Verdana;
}

.currentopt {
	border-bottom: 1px dashed #275549;
	margin-bottom: 3px;
}
select {
	width: 145px;
}

.themeInfo {
	width: 100%;
}
.themeInfo img.screenshot {
	width: 80px;
	height: 80px;
	border: 1px solid #666;
	padding: 1px;
	margin-right: 10px;
}

name {
	display: block;
	font-weight: bold;
}
author {
	display: block;
	font-style: italic;
}
about {
	display: block;
}

.tablerow1 {
	font-size: 14px;
	background: #eafec3;
	padding: 2px;
}